$container-max: 1250;

$color-site-bg: #242637;
$color-body-default: #F2F0F1;
$color-primary: #FF3E6C;
$color-form-focus: #2BEEE7;

$font-default: 'Circular Std', helvetica, arial, sans-serif;


$sm: '(min-width: 50px) and (max-width: 699px)';
$md: '(min-width: 700px) and (max-width: 1023px)';
$lg: '(min-width: 1024px)';

$sm-v: '(min-height: 50px) and (max-height: 599px)';
$md-v: '(min-height: 600px) and (max-height: 5000px)';
